doctype html
html
  head
    block title
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    style 
        include ../css/materialize.min.css
        include ../css/custom.css
  body
    block content
    script(src='/socket.io/socket.io.js')

    script.
        var socket = io.connect('http://localhost:8080');

        